*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
    --text-color: #51586a;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
    scroll-behavior: smooth;
}

/* Common */
.btn {
    --height: 62px;
    display: inline-block;
    min-width: 170px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -2.24px;
}

.section-desc {
    margin-top: 20px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.67;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */
.header {
    position: sticky;
    left: 0;
    top: -12px;
    z-index: 2;
    background: #fbfaff;
    padding: 20px 135px 8px;
}

.header__inner,
.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__email {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid #5d3bee33;
    border-radius: 50%;
}

.header__email-text {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration: underline;
}

.header__navbar-list {
    display: flex;
}

.header__navbar-item-link {
    padding: 12px 22px;
    color: var(--text-color);
    font-size: 1.8rem;
}

.header__navbar-item-link:hover {
    text-shadow: 1px 0px 0px currentColor;
    text-decoration: underline;
}

/* Hero */
.hero {
    background: #fbfaff;
    padding-top: 36px;
}

.hero__inner {
    align-items: center;
}

.hero__media {
    position: relative;
}

.hero__img-wrap {
    width: 514px;
}

.hero__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
}

.hero__media-decore > img {
    opacity: 0.1;
}

.hero__media-decore img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 168px;
}

.hero__media-decore img:nth-child(2) {
    position: absolute;
    top: 148px;
    left: -64px;
}

.hero__media-decore img:nth-child(3) {
    position: absolute;
    top: 2px;
    right: 25px;
}

.hero__media-decore img:nth-child(4) {
    position: absolute;
    top: 200px;
    right: 10px;
}

.hero__info {
    position: relative;
    margin-top: 110px;
}

.hero__heading {
    width: 500px;
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -3.2px;
}

.hero__desc {
    width: 370px;
    margin-top: 20px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero__cta-group {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero__cta-link {
    padding: 8px 16px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
    text-decoration: underline;
}

.hero__socials-group {
    margin-top: 104px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero__socials-title {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.875;
}

.hero__social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #0804151a;
    border-radius: 50%;
}

.hero__info-decore img {
    position: absolute;
    right: -165px;
    bottom: -8px;
}

/* Clients */
.clients {
    margin-top: 98px;
}

.clients__heading {
    position: relative;
    width: 253px;
    margin-left: 99px;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -1.68px;
}

.clients__heading::before {
    position: absolute;
    top: 22px;
    left: -99px;
    content: "";
    display: inline-block;
    width: 86px;
    height: 2px;
    background: var(--primary-color);
}

.clients__list {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
    align-items: center;
    row-gap: 34px;
}

.client-item {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.client-item:nth-child(2) figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fbfaff;
}

.client-item__name {
    font-size: 1.7rem;
    color: #080415;
    font-weight: 600;
}

/* Special */
.special {
    margin-top: 133px;
}

.special__top {
    text-align: center;
}

.special__desc {
    width: 534px;
    margin-left: auto;
    margin-right: auto;
}

.special__list {
    margin-top: 60px;
    align-items: center;
}

.special-item {
    padding: 33px 43px;
    background: #fbfaff;
}

.special-item__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    border: 1px solid #0804150d;
    border-radius: 50%;
}

.special__icon-product {
    position: relative;
    top: 6px;
}

.special__icon-ui {
    position: relative;
    top: 10px;
}

.special__icon-interactive {
    position: relative;
    top: 10px;
    left: -4px;
}

.special-item__name {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.special-item__desc {
    width: 285px;
    margin-top: 15px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.67;
}

/* Project */
.project {
    margin-top: 40px;
    padding: 186px 0 86px;
    background: #5d3bee;
}

.project__heading {
    color: #fff;
}

.project__desc {
    margin-top: 31px;
    color: #ffffffb3;
}

.project__list {
    margin-top: 70px;
}

.project__list-inner {
    row-gap: 30px;
}

.project-item {
    display: flex;
    align-items: center;
    column-gap: 47px;
    padding: 24px 23px 23px 34px;
    background: #fbfaff;
}

.project-item__title {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.project-item__desc {
    width: 220px;
    margin-top: 10px;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.44;
}

.project-item__link {
    margin-top: 20px;
    display: inline-block;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
    text-decoration: underline;
}

.project-item__media {
    position: relative;
    width: 246px;
    height: 187px;
}

.project-item__thumb {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-item__decore {
    position: absolute;
    right: -38px;
    top: -18px;
    overflow: hidden;
}

.project__cta {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.project__cta-btn {
    background: #fff;
    color: #080415;
}

/* About */
.about {
    /* margin-top: 140px; */
    padding-top: 140px;
}

.about__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__sub-heading {
    display: flex;
    align-items: center;
    column-gap: 9px;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.about__sub-heading::after {
    content: url("../../assets/img/hello.png");
    display: inline-block;
    width: 30px;
    height: 30px;
}

.about__heading {
    margin-top: 10px;
}

.about__desc {
    margin-top: 15px;
    width: 570px;
    text-align: center;
}

.about__stats {
    margin-top: 70px;
    padding: 20px;
    border-top: 1px solid #08041533;
    border-bottom: 1px solid #08041533;
}

.about__stats-list {
    display: flex;
    justify-content: space-evenly;
}

.stats-item__number {
    display: block;
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.36;
    letter-spacing: 1.68px;
    text-decoration: underline;
}

.stats-item__title {
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.67;
}

.about__player {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin-top: 70px;
}

.about__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.btn-play-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    border: none;
    outline: none;
}

.about__intro-video {
    position: absolute;
    inset: auto 10px 10px auto;
    color: var(--text-color);
    background: #fff;
    border: none;
    outline: none;
}

/* People say */
.people {
    position: relative;
    margin-top: 150px;
    padding-bottom: 74px;
}

.people__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.people__desc {
    width: 570px;
    text-align: center;
}

.people__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.people__list {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.people-item {
    flex-shrink: 0;
    width: 100%;
}

.people-item__blockquote {
    margin: 0 auto;
    width: 679px;
    color: var(--text-color);
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.67;
}

.people-item__info {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin-top: 36px;
}

.people-item__avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.people-item__name {
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.333;
}

.people-item__job {
    margin-top: 3px;
    text-align: center;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.82;
}

.slide-from-right {
    transition: transform 0.3s ease;
    transform: translateX(100%);
}

.dots {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-top: 40px;
}

.dot {
    width: 16px;
    height: 16px;
    background: #08041533;
    border-radius: 50%;
}

.dot.active {
    background: var(--primary-color);
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
}

.people-decore img:nth-child(1) {
    position: absolute;
    left: 0;
    bottom: 0;
}

.people-decore img:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Question */
.question {
    padding-top: 130px;
}

.question__inner {
    width: 86.4%;
}

.question__heading {
    width: 575px;
}

.faq__list {
    margin-top: 80px;
}

.faq-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 12px 22px;
    border-bottom: 2px solid #08182f;
    transition: border-color ease-in 0.2s;
}

.faq-item + .faq-item {
    margin-top: 60px;
}

.faq-item__question {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
}

.faq-item__answer {
    width: 487px;
    margin-top: 23px;
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.67;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.faq-btn__control {
    user-select: none;
}

.faq__btn-checked {
    display: none;
}

input[type="checkbox"]:checked ~ .faq-item__info .faq-item__question {
    color: var(--primary-color);
}

input[type="checkbox"]:checked ~ .faq-item__info .faq-item__answer {
    /* height: auto; */
    height: 63px;
    visibility: visible;
}

input[type="checkbox"]:checked ~ .faq-btn__control .faq__btn-checked {
    display: inline-block;
}

input[type="checkbox"]:checked ~ .faq-btn__control .faq__btn-default {
    display: none;
}

.faq-item:has(input[type="checkbox"]:checked) {
    border-color: var(--primary-color);
}

/* Atmosphere */
.atmosphere {
    padding-top: 160px;
}

.atmosphere__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atmosphere__desc {
    width: 528px;
    text-align: center;
}

.atmosphere__mail {
    display: inline-block;
    margin-top: 30px;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
    text-decoration: underline;
}

.atmosphere__list {
    margin-top: 70px;
}

.atmosphere__img-wrap {
    width: 370px;
    height: 529px;
    overflow: hidden;
}

.atmosphere__thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in;
}

.atmosphere__thumb:hover {
    transform: scale(1.1);
}

/* CTA */
.cta {
    margin-top: 140px;
}

.cta__inner {
    position: relative;
    padding: 68px 0;
    background: #fbfaff;
    overflow: hidden;
}

.cta__info {
    position: relative;
    z-index: 1;
    text-align: center;
}

.cta__btn {
    margin-top: 30px;
    cursor: pointer;
}

.cta__decore-group img {
    position: absolute;
}

.cta__decore-group img:nth-child(1) {
    bottom: 0;
    left: 0;
}

.cta__decore-group img:nth-child(2) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.cta__decore-group img:nth-child(3) {
    top: 0;
    right: 0;
}

/* Footer */
.footer {
    margin-top: 50px;
    padding: 0 135px 30px;
}

.footer__top {
    border-bottom: 1px solid #0c072033;
    padding-bottom: 32px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 130px;
    margin-top: 18px;
}

.footer__cta {
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.footer__copyright,
.footer__cta-link {
    color: #52577199;
    font-size: 1.8rem;
    line-height: 1.67;
}

.footer__cta-separate {
    width: 1px;
    height: 14px;
    background: #52577199;
}
